@use 'base';

// ----------------------------------------- header

header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 143px;
    display: flex;
    align-items: center;
    z-index: 100;
}

header .right {

}

header .top {
    display: flex;
    gap: 30px;
    margin-bottom: 15px;
}

header .bottom {
    display: flex;
    gap: 20px;
    font-size: 16px;
}

header .right {
    
}

header .number {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
}

header button {
    background-color: base.$clr-main;
    height: 44px;
    width: 183px;
    font-size: 14px;
}

header .contacts {

}

.contacts_top {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 18px;
}

.contacts_bottom {
    font-size: 16px;
}

.contacts_bottom div{
    display: inline-flex;
    font-size: 16px;
    border: 1px solid #858585;
    padding: 5px 12px 5px 12px;
    gap: 10px;
    cursor: pointer;
}

header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// ----------------------------------------- slider

@keyframes move_slide {
    0% {
        opacity: 0;
        transform: scale(.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.slider {
    width: 100%;
    position: relative;
    height: 478px;
    margin-bottom: 109px;
}

.slider_block {
    display: none;
    width: 100%;
    animation: move_slide .2s ease-in-out 1;
    height: 100%;
}

.slider_block_active {
    display: flex;
}

.slider_block_banner {
    position: relative;
    z-index: 5;
    width: 45%;
    height: 100%;
    overflow: hidden;
}

.slider_block_banner img{
    width: 100%;
}

.slider_block_info {
    position: relative;
    z-index: 5;
    width: 55%;
}

.slider_block_info > h2{
    font-size: 48px;
    font-weight: 700;
    width: 700px;
    margin-bottom: 30px;
    padding-top: 27px;
}

.slider_block_info > h2 > span{
    color: base.$clr-main;
}

.slider_block_info > p{
    font-size: 18px;
    width: 445px;
    padding-left: 63px;
}

.slider_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .1);
    padding: 18px;
    transition: .2s;
    cursor: pointer;
    z-index: 10;
}

.slider_arrow:hover {
    background-color: rgba(255, 255, 255, .2);
}

.slider_arrow:active {
    transform: translateY(-50%) scale(.9);
}

.slider_arrow > svg{
    width: 100%;
    height: 100%;
}

.slider_arrow > svg > path{
    fill: #fff;
}

.arrow_back {
    left: 55px;
}

.arrow_next {
    right: 55px;
}

.arrow_back > svg{
    transform: rotate(90deg) translateY(1px);
}

.arrow_next > svg{
    transform: rotate(-90deg) translateY(1px);
}

.slider_bg {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
}

.slider_bg > img{
    height: 100%;
}

// ----------------------------------------- why

.why {
    position: relative;
    padding-bottom: 170px;
}

.why .inner{
    display: flex;
    justify-content: space-between;
    gap: 125px;
    z-index: 5;
}

// .why_left {
    
// }

.why_left p{
    width: 540px;
    font-size: 18px;
    margin-bottom: 10px;
}

// .why_right {
    
// }

.why_bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.why_bg > img{
    width: 100%;
}

// ----------------------------------------- adv

.adv {
    background-color: #F6F6F6;
    padding-top: 120px;
    padding-bottom: 120px;
}

.adv_grid {
    @include base.grid(30px, 3);
    padding-top: 24px;
}

// .adv_block {

// }

.adv_block_img {
    margin-bottom: 30px;
}

// .adv_block_img > img {

// }

.adv_block_info {
    color: #000;
}

.adv_block_info > h3 {
    font-size: 28px;
    font-weight: 700;
    margin-top: 15px;
}

// .adv_block_info > p {

// }

// ----------------------------------------- programs

.programs {
    padding-top: 120px;
    padding-bottom: 120px;
}

.programs_info {
    display: flex;
    justify-content: space-between;
    gap: 125px;
    margin-bottom: 64px;
}

.programs_info p {
    margin-bottom: 10px;
    width: 540px;
    font-size: 18px;
}

.programs_grid {
    @include base.grid(70px, 3);

}

.programs_block {

}

.programs_block_img {
    margin-bottom: 20px;
    width: 100%;
}

.programs_block_img > img {
    width: 100%;
}

.programs_block_info {
    color: #7F7F7F;
    margin-bottom: 25px;
}

.programs_block_title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.programs_block_button {
    width: 100%;
}

.programs_button {
    width: 100%;
    margin-top: 136px;
}

// ----------------------------------------- reklama

.reklama {
    background-color: #F6F6F6;
    padding-top: 120px;
    padding-bottom: 120px;
}

.reklama h2{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #000;
    margin-bottom: 20px;
}

.reklama p{
    font-size: 18px;
    text-align: center;
    color: #000;
    width: 540px;
    margin: auto;
    margin-bottom: 20px;
}

.reklama button{
    margin: auto;
    margin-top: 60px;
}

// ----------------------------------------- treners

.treners {
    padding-top: 120px;
    padding-bottom: 120px;
}

.treners_info {
    display: flex;
    justify-content: space-between;
    gap: 125px;
}

.treners_info p{
    font-size: 18px;
    width: 540px;
    color: #fff;
}

.treners_grid {
    @include base.grid(70px, 3);
}

.treners_block {

}

.treners_block_img {
    margin-bottom: 20px;
}

.treners_block_img > img{

}

.treners_block_name {
    margin-bottom: 15px;
    color: #fff;
    font-size: 24px;
}

.treners_block_about {
    color: #7F7F7F;
}

// ----------------------------------------- go

.go {
    padding-bottom: 120px;
}

.go_heading {
    margin-bottom: 61px;
}

.go_heading > h3{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.go_heading > div{
    width: 165px;
    height: 2px;
    margin: auto;
    background-color: base.$clr-main;
}

.go form{
    width: 540px;
    margin: auto;
}

.go form label{
    margin-bottom: 20px;
    color: #fff;
}

.go form input{
    background-color: transparent;
    border: 1px solid #757575;
    width: 100%;
    margin-bottom: 27px;
    height: 60px;
    padding: 20px;
    font-size: 18px;
    color: #fff;
}

.go form button{
    width: 100%;
    margin-top: 73px;
}

// ----------------------------------------- room

.room {
    background-color: #F6F6F6;
    padding-top: 120px;
    padding-bottom: 120px;
}

.room_grid {
    @include base.grid(30px, 3);
}

.room_block {

}

.room_block > img {
    width: 100%;
}

// ----------------------------------------- footer

.footer {
    padding-top: 120px;
    padding-bottom: 40px;
}

.footer_block {
    border: 1px solid base.$clr-main;
    display: flex;
}

.footer_left > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 92px;
    padding-bottom: 92px;
    padding-left: 60px;
}

.footer_block p {
    margin-top: 36px;
    color: #858585;
    width: 418px;
}

.footer_point {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
}

.footer_point > img {
    display: flex;
    align-items: center;
}

.footer_right {
    width: 50%;
}

.footer_right > img {
    height: 100%;
}

.footer_left {
    width: 50%;
}

footer span {
    display: block;
    width: 100%;
    color: #858585 !important;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}